

<div class="well">
	<table class='table table-hover'>
		<tbody class ="list" style ="font-weight:bold;">


			<% @party_profile.each_with_index do |p, index| %>
			<tr>

				<td style = "padding-left: 40px;">
					<%= "#{index+1}" %>
				</td>

				<td>
					<%= link_to(p.name, party_profile_path(p)) %>
				</td>

				<td>
					<%= p.location %>
				</td>


				<td style = "width:250px; padding-left: 80px;">
					<%= p.date %>

				</td>

			</tr>
			<% end %>
		</tbody>
	</table>
</div>