<div class="span12">
	<div class="well" id="spotify" style="background-color:#000000;border-color:#000000;">		
		<h1 style="color:#00FFFF;">You have searched for <% '#{@party_profile.name}' %></h1>
		<br>

		


