<div class="span12">
	<div class="well find" id="spotify">		
		<h1>Find a Party</h1>
		<br>
		<form action='/searchsongs'>
			<input id="searchentry" name="name" type="text" placeholder="Enter Party Name..."/>
			<br>
			<input id="search" type='submit' value='Search' class="btn btn-primary"/>
		</form>		

		<div class="search_table" style="display: none">
			<table class = 'table table-hover'>
				<tbody>
					<tr id="tableheader" style = "font-weight: 900">
						<td style = "padding-left: 70px;"> Party Name </td>
						<td style = "padding-right: 70px;"> Date </td>
						<td style = "padding-right: 0px;"> Location </td>
					</tr>
				</tbody>
			</table>
			<div class="search_results">
			</div>
		</div>
	</div>
</div>


<script>
	$('#search').click(function(event) 
	{
		$.get('/party_profiles/display?name='+$('#searchentry').val(), function(data) 
		{
			console.log(data);
			$('.search_results').html('');
			$('.search_results').append(data);
			$('.search_table').show();
		});
		return false
	});
</script>

