<div class="span12">
	<div class="well" id="spotify">		
		<h1>Find a Party</h1>
		<br>
		<form action='/search'>
			<input name="name" type="text" placeholder="Enter Party Name..."/>
			<br>
			<input type='submit' value='Search' class="btn btn-primary"/>
		</form>		

		<div class ="search">
		</div>

	</div>
</div>



