<div class="span12">
	<div class="well" id="spotify">
		<h1>About PlayedBy.Me</h1>

		</br>

		<p>PlayedBy.me is an app that allows users to create an initial Playlist and then invite their friends to join the Playlist and collaborate. All the members of a given Playlist can add songs and up/down vote songs in queue. Members can also share a link to the entire playlist via email, facebook, or the like.</p>

	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>