<div class="span12">
	<div class="well" id="spotify">
		<h1>About PlayedBy.Me</h1>

		</br>

		<p>PlayedBy.Me is an app that democratizes music at parties by crowdsourcing the playlist. Hosts create parties and an initial playlist through a web app and then invite their friends. Once at the party, guests can add songs to the playlist and up/down vote songs in the queue via an iPhone/android app.</p>

	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>