<div class="span12">
	<div class="well" id="spotify" style="background-color:#000000;border-color:#000000;color:#00FFFF;">
		<h1>About PlayedBy.Me</h1>

		</br>

		<h4 style="text-align:center;">PlayedBy.me is an app that allows users to create an initial <br>Playlist and then invite their friends to join the Playlist and<br> collaborate. All the members of a given Playlist can add songs and <br>up/down vote songs in queue. Members can also share a link to the <br>entire playlist via email, facebook, or the like.</h4>

	</div>
</div>

<div class ="bgImage"><%= image_tag("dj.png") %></div>