<div class="span12">
	<div class="well find">
		<h3>1. Create an Account</h3>
		<br>
		<%= link_to image_tag("connect-to-facebook-button.png") , "/auth/facebook" %>
	</div>
</div>
<div class="step2">
	<div class="span6">
		<div class="well" id="spotify">
			<h3>2. Create a Playlist</h3>
			<%= image_tag("Step2.png") %>
		</div>
	</div>
</div>
<div class="span6">
	<div class="well" id="spotify">
		<h3>3. Add Songs </h3>
		<%= image_tag("Step3.png") %>
	</div>
</div>
<div class="span6">
	<div class="well" id="spotify">
		<h3>4. Invite your Friends</h3>
		<%= image_tag("Step4.png") %>
	</div>
</div>

