<!DOCTYPE html>
<html>
	<p>
		<b>Hi <%= @user.name %>!</b><br><br>

		You have successfully created a party! <b><%= @party_profile.name %></b> will be held on <b><%= @party_profile.date %></b>, at <b><%= @party_profile.location %></b>.<br><br>
		
		Thanks for partying with us and have a great day!<br><br>

		Sincerely,<br>
		The PlayedBy.me Team<br>
		team@playedby.me
	</p>
  </body>
</html> 