<div class="well">
  
  <table class='table table-hover'>
    <tbody style="font-weight:bold;">
      <tr>
      <% @songs.each_with_index do |song, i| %>
              <tr id="<%= i %>">
                <td style ="width:150px;">
                  <h5 ><%= link_to "Add" , "#{new_song_url}?name=#{song[0]}&artist=#{song[2]}&track_key=#{song[1]}&party_id=#{@party_id}", :remote => true, :class => "btn btn-mini btn-primary" %></h5>
                </td>
                <td style ="padding-top:20px; width:300px;">
                    <%= "#{song[0]}" %>
                </td>
                <td style ="padding-top:20px;">
                  <%= "#{song[2]}" %>
                </td>
              </tr>
          <% end %>
      </tbody>
  </table>
</div>
