<br>
<br>

<% @tracks.each_with_index do |t, index| %>
          <tr>

            <td style = "padding-left: 40px;">
              <%= "#{index+1}" %>.  
            </td>

            <td>
              <%= t.title %>
            </td>


            <td>
              <h5 ><%= link_to "Add" , "#{new_song_url}?name=#{t.title}&soundcloud_id=#{t.id}&length=#{t.duration}&party_profile_id=#{@party_profile_id}", :remote => true, :class => "btn btn-mini btn-primary addsong" %></h5>
            </td>
            <br>

    

          </tr>
          <% end %>
