// Place all the styles related to the party_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tableheader {
	border-style: solid;
	border-color: #A0A0A0;
	border-width: 2px;
}

.find{
	text-align: center;
}