// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



td#parties { 	
	text-align: center;
}

td#parties1 {
	text-align: left;

	
}

td#parties2 {
	text-align: right;


}

#tableheader 
{
	border-style: solid;
	border-color: #A0A0A0;
	border-width: 2px;
}

tr#tablebody
{
	border-style: none;

}



